body {
  /* font-family: 'Merriweather', serif; */
  background-color: azure;
}

.bpad {
  padding-bottom: 1em;
}

.display-font{
  font-family: "Noto Sans";
}

.lead2 {
  color: black;
  font-family:'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}


.navcolor {
 color: midnightblue;
}

.square {
    width: 300px;
    height: 300px;
}

.textcolor {
  color:white;
}

.vpad {
  padding-top: 1em;
}

