body {
  /* font-family: 'Merriweather', serif; */
  background-color: azure;
}

.bpad {
  padding-bottom: 1em;
}



.navcolor {
 color: midnightblue;
}

.square {
    width: 300px;
    height: 300px;
}

.textcolor {
  color:white;
}

.vpad {
  padding-top: 1em;
}

